<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://i.imgur.com/YfKn5dP.png">
    <title>403 - Unauthorized</title>
</head>
<body>
    <div class="error">
        <h2>403</h2>
        <p>I think you don't have enough permission to go there.</p>
        <a href="/">Sssh, be quiet follow me and I will redirect you to a place that you can access :)</a>
    </div>   
    <style>
        body {
            background-color: #292929;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .error {
            margin-top: 15%;
            font-size: 1.3vh;
        }
        
        .error h2 {
            color: #7289DA;
            text-shadow: 4px 4px #0000008f;
            font-size: 7vh;
            padding-bottom: 2%;
        }
        
        .error a {
            color: #7289DA;
            text-decoration: none;
        }
        
        .error p {
            margin-top: -50px
        }
        
        .error a:hover {
            text-decoration: underline;
        }
    </style>
</body>
</html>