<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/error.css">
    <link rel="icon" href="https://i.imgur.com/YfKn5dP.png">
    <title>404 - Page Not Found</title>
</head>
<body>
    <div class="error">
        <h2>404</h2>
        <p>It looks like you are lost in a big ocean!</p>
        <a href="/">Let me hand you to a safer place :-)</a>
    </div>   
</body>
</html>