<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/error.css">
    <link rel="icon" href="https://i.imgur.com/YfKn5dP.png">
    <title>403 - Unauthorized</title>
</head>
<body>
    <div class="error">
        <h2>fetchError</h2>
        <p>An error occured while trying to get information from Discord, please try again later.</p><br /><br />
        <p>If this problem occurs again please report us the problem.</p>
        <a href="/">Go to the home page</a>
    </div>   
</body>
</html>