<html>
    <head>
        <link rel="stylesheet" href="../static/css/footer.css">
    </head>
    <div class="footer">
        <div class="brand">
          <img src="https://i.imgur.com/YfKn5dP.png" alt="Athena">
          <p>Athena is a multi functional discord bot which aims to give many services as it can give.</p>
        </div>
    
        <div class="links">
          <p style="font-weight: bold;">Athena</p>
          <ul>
            <li id="links_item"><a id="links_item" href="/commands">Commands</a></li>
            <li id="links_item"><a id="links_item" href="/privacy">Privacy Policy</a></li>
            <li id="links_item"><a id="links_item" href="/tos">Terms Of Service</a></li>
            <li id="links_item"><a id="links_item" style="cursor: pointer;" onclick="window.location='mailto:mail@example.org';">Contact Us</a></li>
          </ul>
        </div>
    
        <div id="links_right" class="links" style="margin-left: 70%;">
          <p style="font-weight: bold;">Find Us</p>
          <ul>
            <li id="links_item"><a id="links_item" href="https://top.gg/bot/714109639301791804">Top.gg</a></li>
            <li id="links_item"><a id="links_item" href="https://botsfordiscord.com/bot/714109639301791804">Bots For Discord</a></li> 
            <li id="links_item"><a id="links_item" href="https://discord.bots.gg/bots/714109639301791804">Discord.bots.gg</a></li>
          </ul>
        </div>
    
        <div class="tuna">
          <p style="margin-right: 1rem; font-size: 12px;">Designed by <span onclick="window.location='http://tunas.fun'" style="color: #7289DA; font-family: Jura; cursor: pointer;">tuna</span></p>
        </div>
      </div>
</html>