<html>
  <head>
    <link rel="stylesheet" href="assets/css/footer.css">
  </head>
  <div class="footer">
    <div class="footerBody">
      <div class="brand">
        <img src="https://i.imgur.com/YfKn5dP.png" alt="Athena">
        <p>Athena is a multi functional discord bot which aims to serve every function a discord bot that can serve.</p>
      </div>
      <hr id="footerLine">
      <a id="footerLink" href="/privacy">Privacy Policy</a>
      <a id="footerLink" href="/tos">Terms of Service</a>
    </div>
  </div>
</html>