<html>
    <head>
        <script src="/assets/scripts/jquery.min.js"></script>
        <script src="/assets/scripts/bootstrap.min.js"></script>
        <script src="/assets/scripts/navbar.js"></script>
        <script src="/assets/scripts/cookie.js"></script>
        <link rel="stylesheet" href="/assets/css/navbar.css">
        <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.png" alt="Athena" width="50" height="50">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a id="nav-button-home" class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a id="nav-button-dashboard" class="nav-link" href="/dashboard">Dashboard <span class="badge rounded-pill" style="background-color: #5566a3; margin-left: 2px;">ALPHA</span></a>
              </li>
              <li class="nav-item">
                <a id="nav-button-commands" class="nav-link" href="/commands">Commands</a>
              </li>
              <li id="support-link" class="nav-item">
                <a id="nav-button-support" class="nav-link" href="/support">Support</a>
              </li>
              <li style="visibility: hidden;" id="loginButtonCollapsed" class="nav-item">
                <a class="nav-link" href="/oauth/login">Login</a>
              </li>
              <% if (userData) { %>
                <div class="profilePart">
                  <img src="https://cdn.discordapp.com/avatars/<%= userData.id %>/<%= userData.avatar %>.png?size=4096">
                  <div class="username">
                    <p id="Username"><%= userData.username %></p>
                    <p id="Discriminator">#<%= userData.discriminator %> </p>
                  </div>
                  <a id="logoutButtonCollapsed" href="/oauth/logout">Logout</a>
                </div>
                <a id="logoutButton" href="/oauth/logout">Logout</a>
              <% } %>  
            </ul>
          </div>
        </div>
      </nav>

      <div onclick="window.location='/oauth/Login'" id="loginButton" class="loginButton">
        <a href="/oauth/login">LOGIN</a>
      </div>

      <% if (!userData) { %>
        <script> userNotLoggedIn(); </script>
      <% } else { %>
        <script> userLoggedIn(); </script>
      <% } %>

      <div class="cookieWarning">
        <p id="cookieWarningText">🍪 We use cookies to ensure that we give the full functionality of our site. <a style="color: #7289DA; text-decoration: none;" href="/privacy">Learn more</a></p>
        <button id= "cookieWarningButton" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
      </div>
      <style>
        .cookieWarning {
            width: 100%;
            min-height: 50px;
            height: auto;
            z-index: 1000;
            bottom: 0px;
            background-color: #1b1b1bbd;
            text-align: left;
            position: fixed;
            display: none;
            border-top: 1px solid #7289DA;
        }

        #cookieWarningText {
            float: left;
            margin-top: 15px;
            margin-left: 15px;
            font-weight: bold;
            padding: 3px 3px 3px 3px;
            width: 60%;
            overflow: hidden;
        }

        #cookieWarningButton {
            float: right;
            margin-right: 20px;
            margin-top: 20px;
            cursor: pointer;
        }
      </style>
</html>