<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find all commands of Athena and get detailed information about specific command of Athena.">
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/cookie.js"></script>
    <script src="/assets/scripts/commands.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="/assets/css/commands.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <title>Commands - Athena</title>
</head>
<body>
    <%- include('../components/navbar')  %> 

    <noscript>
        <p><span>Warning: </span>You have to enable javascript to see the command descriptions since we are showing you command descriptions by javascript.</p>
    </noscript>

    <div class="cookieWarning">
        <p id="cookieWarningText">🍪 We use cookies to ensure that we give the full functionality of our site. <a style="color: #7289DA; text-decoration: none;" href="/privacy">Learn more</a></p>
        <button id= "cookieWarningButton" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </div>

    <div class="header">
        <h2>Commands</h2>
        <p>In the above you can find all commands that runs right now on Athena.</p>
    </div>

    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <div class="bounce4"></div>
    </div>

    <div class="container">
        <div class="categories"></div>

        <div class="commands"></div>
    </div>

    <%- include('../components/footer') %>
</body>
</html>