<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manage your server easily from the dashboard of Athena.">
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/dashboard.js"></script>
    <script src="https://kit.fontawesome.com/88e62b65ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <title>Dashboard - Athena</title>
</head>
<body>
    <div class="loader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
            <div class="bounce4"></div>
        </div>
    </div>

    <div class="general">
        <div class="control">
            <div class="server">
                <img src="/assets/images/defaultServer.png" alt="Server">
                <h3>Server Name</h3>
                <hr>
                <div class="stats">
                    <p><span style="font-weight: bold;">130</span> Members</p>
                    <p><span style="font-weight: bold;">43</span> Channels</p>
                </div>
            </div>
            <div class="categories">
                <ul class="category">
                    <p class="categoryName">Configuration<i id="categoryButon" class="fas fa-chevron-down"></i></p>
                    <li class="categoryElement active">General</li>
                </ul>
                <ul class="category" data-category="mod">
                    <p class="categoryName">Moderation<i id="categoryButon" class="fas fa-chevron-down"></i></p>
                    <li class="categoryElement">Auto Role</li>
                    <li class="categoryElement">Link Protection</li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="topbar">
                <div class="profile">
                    <img src="/assets/images/defaultServer.png" alt="User">
                    <p id="username">User</p>
                    <p id="discriminator">#0000</p>
                </div>
                <ul id="profileDropdown">
                    <a href="/dashboard"><li>Servers</li></a>
                    <a href="/report"><li>Report a User</li></a>
                    <a href="/oauth/logout"><li>Logout</li></a>
                  </ul>
            </div>
        </div>
    </div>
</body>
</html>