<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manage your server easily from the dashboard of Athena.">
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/dashboard.js"></script>
    <script src="https://kit.fontawesome.com/88e62b65ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <title>Dashboard - Athena</title>
</head>
<body>
    <div class="loader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
            <div class="bounce4"></div>
        </div>
    </div>
    <div class="general">
        <div class="control collapsed   " id="control">
            <div class="server">
                <img src="/assets/images/defaultServer.png" alt="Server">
                <h3>Server Name</h3>
                <hr>
                <div class="stats">
                    <p><span style="font-weight: bold;">130</span> Members</p>
                    <p><span style="font-weight: bold;">43</span> Channels</p>
                </div>
            </div>
            <div class="categories">
                <ul class="category">
                    <p class="categoryName">Configuration<i id="categoryButon" class="fas fa-chevron-down"></i></p>
                    <li class="categoryElement btnActive" data-class="configurations"><i class="fas fa-terminal"></i> General</li>
                </ul>
                <ul class="category">
                    <p class="categoryName">Moderation<i id="categoryButon" class="fas fa-chevron-down"></i></p>
                    <li class="categoryElement btnDisabled"><i class="fas fa-terminal"></i> Auto Role <span style="background-color: #585858;" class="badge rounded-pill badge">SOON</span></li>
                    <li class="categoryElement btnDisabled"><i class="fas fa-terminal"></i> Link Protection <span style="background-color: #585858;" class="badge rounded-pill badge">SOON</span></li>
                </ul>
                <ul class="category">
                    <p class="categoryName">Music<i id="categoryButon" class="fas fa-chevron-down"></i></p>
                    <li class="categoryElement" data-class="music" onclick="musicInit(false)"><i class="fas fa-terminal"></i> Player</li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="topbar">
                <div class="icon">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="profile">
                    <img src="/assets/images/defaultServer.png" alt="User">
                    <p id="username">User</p>
                    <p id="discriminator">#0000 <i id="profileButton" class="fas fa-chevron-down"></i></p>
                </div>
                <ul id="profileDropdown">
                    <a href="/dashboard"><li>Servers</li></a>
                    <a href="/report"><li>Report a User</li></a>
                    <a href="/oauth/logout"><li>Logout</li></a>
                  </ul>
            </div>
            <div class="main">
                <div class="configurations active">
                    <div class="configuration">
                        <h3>Sever Prefix</h3>
                        <p>Change Athena's prefix on your server.</p>
                        <hr>
                        <div class="configContent">
                            <p>Set Prefix</p>
                            <div class="input-group mb-3">
                                <input id="prefixInput" type="text" class="form-control" placeholder="Write your custom prefix">
                                <div class="input-group-append">
                                  <button id="prefixButton" class="btn btn-outline-secondary" type="button">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="configuration">
                        <h3>Sever Language</h3>
                        <p>Change Athena's language on your server. Currently 2 languages are availabe.</p>
                        <hr>
                        <div class="configContent">
                            <p>Set Language</p>
                            <div class="input-group">
                                <select id="languageSelect" class="custom-select" id="inputGroupSelect04">
                                  <option value="en-US">English</option>
                                  <option value="tr-TR">Türkçe</option>
                                </select>
                                <div class="input-group-append">
                                  <button id="languageButton" class="btn btn-outline-secondary" type="button">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="music">
                    <div class="musicContainer">
                        <div class="effects">
                            <div class="effect">
                                <div class="textPart">
                                    Nightcore Effect
                                </div>
                                <div class="buttonPart">
                                    <button id="nightcore" data-type="nightcore" type="button" class="btn btn-primary">Disabled</button>
                                </div>
                            </div>
                            <div class="effect">
                                <div class="textPart">
                                    Bassboost Effect
                                </div>
                                <div class="buttonPart">
                                    <button id="bassboost" data-type="bassboost" type="button" class="btn btn-primary">Disabled</button>
                                </div>
                            </div>
                        </div>
                        <div class="player">
                            <div class="song">
                                <img id="songThumbnail" src="/assets/images/defaultSong.png" alt="Song">
                                <div class="songInfo">
                                    <a href="#" id="songTitle">Song Name</a>
                                    <a href="#" id="songArtist">Artist Name</a>
                                </div>
                                <div class="controller">
                                    <i id="loopBtn" class="fas fa-undo controlBtn"></i>
                                    <i id="playBtn" class="fas fa-play controlBtn"></i>
                                    <i id="skipBtn" class="fas fa-step-backward controlBtn"></i>
                                </div>
                            </div>
                        </div>
                        <div class="queue">
                            <p id="noSongWarn">There isn't any song in the queue.</p>
                        </div>
                    </div>
                    <div class="notPlayingAlert">
                        <p>Currenty Athena isn't playing a song in this server.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="warnings"></div>
    </div>
</body>
</html>