<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manage your server easily from the dashboard of Athena.">
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/dashboard.js"></script>
    <script src="/assets/scripts/cookie.js"></script>
    <script src="/assets/scripts/navbar.js"></script>
    <script src="https://kit.fontawesome.com/88e62b65ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <title>Dashboard - Athena</title>
</head>
<body>
    <%- include('../components/navbar') %> 

    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <div class="bounce4"></div>
    </div>

    <div class="containter"></div>

    <div class="warnings"></div>

    <%- include('../components/footer') %> 

    <script>init("<%= selectedGuild %>")</script>
</body>
</html>