<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manage your server easily from the dashboard of Athena.">
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/dashboard.js"></script>
    <script src="/assets/scripts/cookie.js"></script>
    <script src="/assets/scripts/navbar.js"></script>
    <script src="https://kit.fontawesome.com/88e62b65ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <title>Dashboard - Athena</title>
</head>
<body>

    <!--
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <div class="bounce4"></div>
    </div>

    -->

    <div class="container">
        <div class="controlBar">
            <div class="serverPart">
                <img src="/assets/images/defaultServer.png" alt="">
                <h4>Server Name</h4>
            </div>
            <div class="categoryPart">
                <ul class="category">
                    <p class="categoryHeader">General <i id="categoryDropdown" class="fas fa-chevron-down"></i></p>
                    <li class="categoryElement selected">Prefix</li>
                    <li class="categoryElement">Language</li>
                </ul>
                <ul class="category">
                    <p class="categoryHeader">Moderation <i id="categoryDropdown" class="fas fa-chevron-down"></i></p>
                    <li class="categoryElement">Auto Role</li>
                    <li class="categoryElement">Link Protection</li>
                    <li class="categoryElement">Action Logger</li>
                </ul>
                <ul class="category">
                    <p class="categoryHeader">Music <i id="categoryDropdown" class="fas fa-chevron-down"></i></p>
                    <li class="categoryElement">Server Queue</li>
                </ul>
            </div>
        </div>
        <div class="content">

        </div>
    </div>

    <script>init("<%= selectedGuild %>");</script>
</body>
</html>