<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web dashboard of Athena.">
    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="icon" type="image/png" href="https://i.imgur.com/YfKn5dP.png">
    <title>Dashboard - Athena</title>
</head>
<body>
    <div class="main">
        <h3>Under construction!</h3>
        <p>Come back later and see the diffrence!</p> 
        <a href="/">Go to the main page</a>
    </div>   
</body>
</html>