<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manage your server easily from the dashboard of Athena.">
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/dashboardServerChooser.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="/assets/css/dashboardServerChooser.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <title>Dashboard - Athena</title>
</head>
<body>
    <%- include('../components/navbar') %> 

    <h1 id="title">SERVERS</h1>
    <div class="containter">
        <div class="servers"></div>
    </div>

    <%- include('../components/footer') %> 
</body>
</html>