<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Athena is a multi-functional discord bot which aims to serve every function a discord bot that can serve for FREE.">
    <script src="https://kit.fontawesome.com/88e62b65ed.js" crossorigin="anonymous"></script>
    <script src="/assets/scripts/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <title>Athena - The Discord Bot</title>
</head>
<body>

  <%- include('../components/navbar')  %> 

  <noscript>
      <p><span>Warning: </span>You have to enable javascript to visit this page with full functionality.</p>
  </noscript>

  <div class="shortDescription">
    <h1 style="font-size: 30px;">A discord bot that can fulfill your server needs for FREE</h1>
    <p>Athena is a multi-functional discord bot that offers many services for free such as playing any song you desire with night core effect.</p>
    <a id="inviteQuestionButton" href="/invite" style="margin-top: 30px; background-color: #7289DA; border-color: #7289DA;" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Add Athena To Your Server</a>
  </div>

  <div class="botFeatures">
    <div class="botFeaturesHeader">
      <h2>Some Interesting Features of Athena</h2>
      <p>Although on many bots you need to pay for these features</p>
    </div>

    <div class="botfeaturesMain">

      <div class="botFeature" id="botFeature-1">
        <h2>Moderation</h2>
        <p>With Athena's big range of moderation commands you can moderate your server easily and quickly!</p>
      </div>

      <div class="botFeature" id="botFeature-2">
        <h2>Music</h2>
        <p>Athena has a powerful music module which you can listen to music from youtube you can even add some filters (bass boost, 8d, etc.).</p>
      </div>

      <div class="botFeature" id="botFeature-3">
        <h2>Fun</h2>
        <p>Do you like fun commands such as magik ? Because we do and we put some fun commands to Athena that you may love such as mimic command!</p>
      </div>

      <div class="botFeature" id="botFeature-4">
        <h2>Misc</h2>
        <p>Other commands that we couldn't put in a section such as fortnite stats or weather forecast.</p>
      </div>

    </div>
  </div>

  <div class="inviteQuestion">
    <h1>Ready to try Athena ?</h1>
    <a id="inviteQuestionButton" href="/invite" style="margin-top: 30px; background-color: #7289DA; border-color: #7289DA;" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Add Athena!</a>
  </div>

  <%- include('../components/footer') %>
</body>
</html>