<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Report a user to Athena.">
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/report.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="/assets/css/report.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <title>Report a User - Athena</title>
</head>
<body>
    <%- include('../components/navbar') %> 

    <div class="container">
        <div class="header">
            <h1>Report a User</h1>
            <p>First of all please report any abuse that is done to Athena such as spamming commands. Secondly, in your report please provide any detail that you know to make this report effective.</p>
        </div>
        <hr id="containerLine">
        <div class="IDPart">
            <h3>Please specify users's ID</h3>
            <input id="formID" type="text" placeholder="Please enter the users id."> 
        </div>
        <div class="paragraphPart">
            <h3>Please write your report</h3>
            <textarea name="message" id="formParagraph" placeholder="Please enter the message."></textarea>
        </div>
        <button id="submitButton" type="button" class="btn btn-primary btn-lg">Submit</button>
    </div>

    <div class="warnings"></div>

    <%- include('../components/footer') %> 
</body>
</html>