<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get information about our terms of service.">
    <link rel="stylesheet" href="assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="assets/css/legal.css">
    <link rel="icon" type="image/png" href="assets/images/logo.png">
    <title>Privacy Policy - Athena</title>
</head>
<body>

    <%- include('../components/navbar') %> 

    <div class="header">
        <h2>Our Terms Of Service</h2>
    </div>
    <div class="content">
        <h3>We are preparing our ToS, please be patient.</h3>
    </div>

    <%- include('../components/footer') %> 

    <style>
        .footer {
            position: fixed !important;
            bottom: 0px !important;
        }
    </style>

</body>
</html>