body {
    background-color: #292929;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.error {
    margin-top: 15%;
    font-size: 1.3vh;
}

.error h2 {
    color: #7289DA;
    text-shadow: 4px 4px #0000008f;
    font-size: 7vh;
    padding-bottom: 2%;
}

.error a {
    color: #7289DA;
    text-decoration: none;
}

.error p {
    margin-top: -50px
}

.error a:hover {
    text-decoration: underline;
}