.nav-link {
    color: #c7c6c6 !important;
    padding-right: 25px !important;
    margin-top: 5px
}

.nav-link:hover {
    color: #7289DA !important
}

.loginButton {
    padding: 8px 8px 8px 8px;
    text-align: center;
    border: 2px solid #7289DA;
    width: 80px;
    border-radius: 12px;
    font-weight: bold;
    margin-left: 80%;
    margin-top: -55px;
    visibility: hidden;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    z-index: 100
}

.loginButton a {
    text-decoration: none;
    color: white
}

.loginButton a:hover {
    color: white
}

@keyframes login_button_anim {
    from {background-color: transparent }
    to {background-color: #7289DA }
}

.loginButton:hover {
    animation-name: login_button_anim;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.profilePart {
    font-weight: bold;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 75%;
    visibility: hidden;
    cursor: pointer;
    z-index: 150;
    position: absolute
}

.profilePart a {
    visibility: hidden
}

.profilePart img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #7289DA;
    float: left;
    vertical-align: middle
}

#profilePartUsername {
    margin-top: 2%;
    padding-top: 5px;
    float: left
}

#profilePartDiscriminator {
    font-size: 13px !important;
    color: #9c9c9c !important
}

#profileDropdown {
    background-color: #1d1d1d;
    width: 7rem;
    text-align: center;
    padding: 10px 10px 10px 10px;
    float: left;
    margin-left: 75%;
    margin-top: 75px;
    position: absolute;
    z-index: 155;
    display: none;
    border-radius: 10px
}

#profileDropdown {
    text-decoration: none;
    color: #d83434;
    font-weight: normal
}

#profileDropdown:hover {
    text-decoration: underline
}

@media only screen and (max-width: 990px) {
    .navbar-collapse {
        background-color: #1a1a1a;
        margin-top: 23rem;
        margin-left: -3.5%;
        position: absolute;
        z-index: 200;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 1px solid #7289DA;
        width: 8rem;
        height: auto;
        overflow: hidden
    }

    .navbar-toggler {
        border: none !important;
    }

    .nav-item {
        margin-left: 20%
    }

    #profileDropdown {
        margin-top: 8%;
        margin-right: 8%
    }

    .login_button {
        display: none
    }

    #loginButtonCollapsed {
        visibility: visible !important;
    }

    #loginButton {
        display: none !important;
    }

    .profilePart {
        padding: 20px 10px 15px 35px;
        background-color: #1a1a1a;
        margin-left: -3.5%;
        margin-top: 140%;
        width: 8rem;
        z-index: 100;
        position: absolute;
        overflow: hidden;
    }

    .profilePart img {
        margin-left: -15px
    }

    .profilePart span {
        display: block
    }

    .profilePart p {
        margin-top: -10px !important
    }

    #profilePartDiscriminator {
        margin-top: -5px
    }

    #profileDropdown {
        visibility: hidden
    }

    .profilePart a {
        color: #d83434;
        font-weight: normal;
        text-decoration: none !important;
        margin-left: -5px;
        visibility: visible
    }

    .profilePart a {
        text-decoration: underline
    }

    .navbar-brand {
        margin-top: 0px !important
    }

}