.navbar-brand {
    margin-left: 2%; 
}

.nav-link {
    color: #c7c6c6 !important;
    padding-right: 25px !important;
    margin-top: 5px
}

.nav-link:hover {
    color: #7289DA !important
}

.loginButton {
    padding: 8px 8px 8px 8px;
    text-align: center;
    border: 2px solid #7289DA;
    width: 80px;
    border-radius: 12px;
    font-weight: bold;
    margin-left: 80%;
    margin-top: -55px;
    visibility: hidden;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    z-index: 100
}

.username {
    float: left;
    width: fit-content;
}

.loginButton a {
    text-decoration: none;
    color: white
}

.loginButton a:hover {
    color: white
}

@keyframes login_button_anim {
    from {background-color: transparent }
    to {background-color: #7289DA }
}

.loginButton:hover {
    animation-name: login_button_anim;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.profilePart {
    font-weight: bold;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 75%;
    visibility: hidden;
    cursor: pointer;
    z-index: 150;
    position: absolute
}

.profilePart a {
    visibility: hidden
}

.profilePart img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    vertical-align: middle
}

#Username {
    margin-top: 2%;
    padding-top: 5px;
    float: left;
}

#Discriminator {
    font-size: 13px !important;
    color: #9c9c9c !important;
    float: left;
    position: relative;
    top: 10px;
}

#logoutButton {
    background-color: #1d1d1d;
    width: 7rem;
    text-align: center;
    padding: 10px 10px 10px 10px;
    float: left;
    margin-left: 75%;
    margin-top: 75px;
    position: absolute;
    z-index: 155;
    display: none;
    border-radius: 10px
}

#logoutButton {
    text-decoration: none !important;
    color: #d83434 !important;
    font-weight: normal !important;
}

#logoutButton:hover {
    text-decoration: underline
}

@media only screen and (max-width: 990px) {

    #loginButton {
        display: none;
    }

    .navbar-toggler {
        border: none !important
    }

    .navbar-collapse {
        background-color: #1a1a1a;
        position: fixed !important;
        right: 0;
        top: 85px;
        text-align: right;
        width: 130px;
        border: 1px solid #7289DA;
        border-right: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #loginButtonCollapsed {
        visibility: visible !important;
    }

    .profilePart {
        position: relative;
        bottom: 0;
        height: 120px;
        margin: 0;
        padding: 0;
    }

    .profilePart img {
        position: relative;
        top: 25px;
        left: 20px;
        float: left;
    }

    .username {
        position: relative;
        float:unset;
        left: 65px;
        top: 0px;
        width: 40px !important;
        height: 100px !important;
        line-height: 0.001;
    }

    #Username {
        margin-top: -10px;
    }

    #Discriminator {
        margin-top: -20 !important;
    }

    #logoutButton {
        display: none !important;
    }

    #logoutButtonCollapsed {
        visibility: visible;
        text-decoration: none;
        font-weight: normal;
        color: #d83434;
        margin-right: 40px;
        position: absolute;
        right: 6px;
        top: 80px;
    }

    #logoutButtonCollapsed:hover {
        text-decoration: underline;
    }

}