<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="All commands of Athena.">
    <script src="static/scripts/jquery.min.js"></script>
    <script src="static/scripts/bootstrap.min.js"></script>
    <script src="static/scripts/cookie.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap-min.css">
    <link rel="stylesheet" href="static/css/commands.css">
    <link rel="icon" href="icon.ico">
    <title>Commands - Athena</title>
</head>
<body>

    <%- include('./components/navbar')  %> 

    <div class="cookieWarning">
        <p id="cookieWarningText">🍪 We use cookies to ensure that we give the full functionality of our site. <a style="color: #7289DA; text-decoration: none;" href="/privacy">Learn more</a></p>
        <button id= "cookieWarningButton" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </div>

    <div class="header">
        <h2>Commands</h2>
        <hr id="topicLine">
    </div>

    <div class="container">
        <div class="categories">
            <h5 id="category">All</h5>
            <h5 id="category">Moderation</h5>
            <h5 id="category">Music</h5>
            <h5 id="category">Fun</h5>
            <h5 id="category">Misc</h5>
        </div>
    
        <div class="commands">
            <div class="command">
                <h5 id="title">Name <code id="usage">[link]</code></h5>
                <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus maiores praesentium iste porro commodi?</p>
            </div>
            <div class="command">
                <h5 id="title">Name <code id="usage">[link]</code></h5>
                <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus maiores praesentium iste porro commodi?</p>
            </div>
            <div class="command">
                <h5 id="title">Name <code id="usage">[link]</code></h5>
                <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus maiores praesentium iste porro commodi?</p>
            </div>
            <div class="command">
                <h5 id="title">Name <code id="usage">[link]</code></h5>
                <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus maiores praesentium iste porro commodi?</p>
            </div>
            <div class="command">
                <h5 id="title">Name <code id="usage">[link]</code></h5>
                <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus maiores praesentium iste porro commodi?</p>
            </div>
            <div class="command">
                <h5 id="title">Name <code id="usage">[link]</code></h5>
                <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus maiores praesentium iste porro commodi?</p>
            </div>
            <div class="command">
                <h5 id="title">Name <code id="usage">[link]</code></h5>
                <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus maiores praesentium iste porro commodi?</p>
            </div>
            <div class="command">
                <h5 id="title">Name <code id="usage">[link]</code></h5>
                <p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus maiores praesentium iste porro commodi?</p>
            </div>
        </div>
    </div>

    <%- include('./components/footer') %>

</body>
</html>