<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Athena is a multi functional discord bot which aims to serve every function a discord bot that can serve.">
    <script src="https://kit.fontawesome.com/88e62b65ed.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap-min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/scripts/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="./icon.ico">
    <title>Athena - The Discord Bot</title>
</head>
<body>

  <%- include('./components/navbar')  %> 

  <noscript>
      <p><span>Warning: </span>You have to enable javascript to visit this page with full functionality.</p>
  </noscript>

  <div class="shortDescription">
    <h3>A discord bot that can ful-fil your server needs...</h3>
    <p>Athena is a multi functional discord bot with fortnite stats, minecraft server information, weather forecast and much more!</p>
  </div>

  <div class="botFeatures">
    <div class="botFeaturesHeader">
      <h2>Some Features of Athena</h2>
      <p>In this sectin you can find some interesting features of Athena.</p>
    </div>

    <div class="botfeaturesMain">

      <div class="botFeature" id="botFeature-1">
        <h2>Moderation</h2>
        <p>With Athena's big range of moderation commands you can moderate your sever easily and fastly!</p>
      </div>

      <div class="botFeature" id="botFeature-2">
        <h2>Music</h2>
        <p>Athena has a powerful music module which you can listen music from spotify and youtube. Sssh little tip: You can set the volume as well :)</p>
      </div>

      <div class="botFeature" id="botFeature-3">
        <h2>Fun</h2>
        <p>Do you like fun commands such as magik ? Cause we do and we put some fun commands to Athena that you may love!</p>
      </div>

      <div class="botFeature" id="botFeature-4">
        <h2>Misc</h2>
        <p>Other commands that we couldn't put in a section such as minecraft server information or weather forecast.</p>
      </div>

    </div>
  </div>

  <div class="inviteQuestion">
    <h1>Ready to try Athena ?</h1>
    <a id="inviteQuestionButton" href="/invite" style="margin-top: 30px; background-color: #7289DA; border-color: #7289DA;" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Invite Athena!</a>
  </div>

  <%- include('./components/footer') %>

</body>
</html>