<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Privacy policy of Athena.">
    <link rel="stylesheet" href="static/css/bootstrap-min.css">
    <link rel="stylesheet" href="static/css/legal.css">
    <title>Privacy Policy - Athena</title>
</head>
<body>

    <%- include('./components/navbar') %> 

    <div class="header">
        <h2>Our Privacy Policy</h2>
    </div>
    <div class="content">
        <h3>Under maintaince</h3>
    </div>

    <%- include('./components/footer') %> 

    <style>
        .footer {
            position: fixed !important;
            bottom: 0px !important;
        }
    </style>

</body>
</html>